*{
    padding:0;
    margin: 0;
    list-style: none;
}
.clearfix:after{
        content: "";
        display: block;
        height: 0;
        clear:both;
        visibility: hidden;
}
.clearfix{
    *zoom: 1;
}
.none{
    display: none;
}
.jm-datepicker{
    display: block;
    position: absolute;
    z-index: 9999999;
    background: #fff;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.1);
    border-radius: 6px;
    border: 1px solid rgba(238,238,238,1);
    animation-duration: 0.3s;
    animation-name: laydate-upbit;
    animation-fill-mode: both;
}
.jm-datepicker .jm-panel-wrap{
    position: relative;
}
.jm-datepicker .jm-panel{
    width:402px;
    height: 426px;
    display: inline-block;
    vertical-align: top;
}
.jm-datepicker .jm-control{
    position: absolute;
    top: 14px;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    border-radius: 14px;
    font-weight: bolder;
    cursor: pointer;
    user-select: none;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.jm-datepicker .jm-control svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.jm-datepicker .jm-control-disabled svg{
    fill: #999;
}
.jm-datepicker .prev-btn{
    left: 18px;
}
.jm-datepicker .next-btn{
    right: 18px;
}
.jm-datepicker .jm-panel-head{
    width: 100%;
    height: 56px;
    line-height: 56px;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}
.jm-datepicker .jm-panel-weekbar{
    width: 100%;
}
.jm-datepicker .jm-panel-weekbar span{
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999;
    display: inline-block;
    text-align: center;
}
.jm-datepicker .jm-panel-body{
    padding: 0 18px 0 20px;
    box-sizing: border-box;
}
.jm-datepicker .jm-date-box{
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    cursor: default;
    position: relative;
    margin-bottom: 2px;
}
.jm-datepicker .jm-date-box .sel-label,
.jm-datepicker .jm-date-box .fes-txt{
    position: absolute;
    top: 10px;
    width: 100%;
    color: #fff;
    font-size: 12px;
    text-align: center;
}
.jm-datepicker .jm-date-box .fes-txt{
    color: #333;
}
.jm-datepicker .jm-date-box .date-num{
    width: 100%;
    height: 50px;
    padding-top: 24px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}
.jm-datepicker .jm-date-box:nth-child(7n-6) .date-num,
.jm-datepicker .jm-date-box:nth-child(7n) .date-num{
    color: #E62129;
}
.jm-datepicker .date-sel-start,.jm-datepicker .date-sel-end,.jm-datepicker .date-selected{
    background: #EB4D54!important;
    color: #fff;
    border-radius: 4px;
}
.jm-datepicker .date-sel-start p,.jm-datepicker .date-sel-end p,.jm-datepicker .date-selected p{
    color: #fff!important;
}
.jm-datepicker .date-sel-passed{
    background: #FEF2F2 !important;
}
.jm-datepicker .date-past{
    opacity: .5;
    cursor: not-allowed;
}
.jm-datepicker .jm-date-box:nth-child(7n-6).date-past .date-num,
.jm-datepicker .jm-date-box:nth-child(7n).date-past .date-num{
    color: #333;
}
.jm-datepicker-hide{
    display: none;
}
@keyframes laydate-upbit{
    from{
        transform:translate3d(0,20px,0);
        opacity:.3
    }
    to{
        transform:translate3d(0,0,0);
        opacity:1
    }
}

@-webkit-keyframes laydate-upbit{
    from{
        transform:translate3d(0,20px,0);
        opacity:.3
    }
    to{
        transform:translate3d(0,0,0);
        opacity:1
    }
}


